/* index.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
}

h1, h2 {
  text-align: center;
  color: #333;
}

header {
  background-color: #ffcc01;
  padding: 10px;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 15px;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.pokedex, .search {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.pokedex ul {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pokedex li {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  margin: 10px;
  text-align: center;
}

.pokedex img {
  width: 100px;
  height: 100px;
}

.search-box {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search-box input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
}

.search-box button {
  padding: 10px;
  font-size: 16px;
  background-color: #ffcc01;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
}

.pokemon-card {
  text-align: center;
}

.pokemon-card img {
  width: 150px;
  height: 150px;
}

/* Dark Mode Styles */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
    color: #f8f9fa;
  }

  header {
    background-color: #333;
  }

  nav a {
    color: #f8f9fa;
  }

  .pokedex, .search {
    background-color: #1f1f1f;
    color: #f8f9fa;
  }

  .search-box input {
    background-color: #333;
    color: #f8f9fa;
    border: 1px solid #444;
  }

  .search-box button {
    background-color: #444;
    color: #f8f9fa;
  }
}